h1 {
  color: red;
}
h1 {
  color: red;
  background-color: rgb(158, 158, 255);
}
body {
  background-color: rgb(190, 255, 190);
}
li{
  list-style:none;
  }
  ul{
    display:flex;
    }
    li{
      list-style:none;
      padding:20px 30px 20px 30px;
      }