h1 {
  color: rgb(255, 255, 255);
}
h1 {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 254, 254);
}
body {
  background-color: rgb(255, 255, 255);
}
li{
  list-style:none;
  }
  ul{
    display:flex;
    }
    li{
      list-style:none;
      padding:20px 30px 20px 30px;
      }
.main {
  width: 100%
}