h1 {
  color: rgb(255, 255, 255);
}
h1 {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 254, 254);
}
body {
  background-color: rgb(255, 255, 255);
}
li{
  list-style:none;
  }
  ul{
    display:flex;
    }
    li{
      list-style:none;
      padding:20px 30px 20px 30px;
      }
.main {
  width: 100%
}
h1{
  color: #ff8bff;
  background: -webkit-linear-gradient(0deg, #8a9fff, #f1ff6f, #ff8bff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
